[Desktop Entry]
Encoding=UTF-8
Name=Tux Math 
Comment=Tux Math - Learn math with tux!
Comment[pl]=Tux Math - Ucz się matematyki z tuxem!
Exec=tuxmath
Icon=tuxmath.png
Type=Application
Terminal=false
Categories=Education;Science;Math;
# vi: encoding=utf-8
